%vim:syn=erlang

{sub_dirs, ["apps/edapi_ws", "rel"]}.

{deps_dir, ["deps"]}.

{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, master}}},
    {cowboy, "1.0.4", {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git"}},
    {active, ".*", {git, "git://github.com/proger/active", "HEAD"}},
    {gproc, ".*", {git, "https://github.com/uwiger/gproc.git"}}
]}.

{erl_opts, [
    {parse_transform, lager_transform},
    {i, "apps/edapi_ws"}
]}.

